[mysqld]
# --- requisitos de Galera ---------------------------------------------------
binlog_format              = ROW
default_storage_engine     = InnoDB
innodb_autoinc_lock_mode   = 2
bind-address               = 0.0.0.0

# --- proveedor wsrep (Write-Set Replication) --------------------------------
wsrep_on                   = ON
wsrep_provider             = /usr/lib/libgalera_smm.so
wsrep_cluster_name         = galera_cluster
wsrep_cluster_address      = gcomm://galera1,galera2,galera3
wsrep_sst_method           = mariabackup
wsrep_slave_threads        = 4
wsrep_provider_options     = "gcache.size=256M; evs.suspect_timeout=PT5S; evs.inactive_timeout=PT10S"

# --- rendimiento (laboratorio; en produccion flush=1) -----------------------
innodb_buffer_pool_size        = 512M
innodb_flush_log_at_trx_commit = 2
max_connections                = 500

# --- observabilidad ---------------------------------------------------------
performance_schema         = ON
